:root {
  --brand-color: #fdc316;
  --black-color: #010101;
  --section-lvl1-pad: 1.2em 0px 1.2em 0px;
}

body {
  font-family: 'Noto Sans Display', sans-serif;
  display: flex;
  flex-direction: column;
  color: var(--black-color);
  line-height: 1.3;
}
.lock {
  overflow: hidden;
}
a {
  color: var(--black-color);
}

.brand-color {
  background-color: var(--brand-color);
}
.original:after {
  content: " ";

  background: url(/img/original.svg) top 0px right 0px no-repeat ;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
}

.title {
  font-weight: 700;
  margin-bottom: 0.8em;
}
.mr-bot {
  margin-bottom: 0.8em;
}
.section-lvl1 {
  width: 100%;
  font-size: 35px;
  padding: var(--section-lvl1-pad);
}
/* .section-lvl2 {
  width: 100%;
  font-size: var(--section-lvl2-fz);
  padding: var(--section-lvl2-pad);
} */
.title-mar {
  margin: 0px 0px 20px 0px;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
.btn {
  font-size: 20px;
  background-color: #fff;
  color: var(--black-color);
  border: 0px;
}


.header-dublicate {
  height: 76px;
  background-color: #fff;
  width: 100%;
}
.header {
  padding: 20px 0px;
  font-size: 18px;
  border-bottom: 1px solid #c7c7c7;
  background-color: #fff;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.burger__body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 75px;
  right: 100vw;
  transition: all 0.3s ease;
  visibility: hidden;
  display: flex;
  flex-direction: column;

}
/* .burger__body.show {
  right: 0px;
  visibility: visible;
} */
.burger__body-link {
  color: black;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.container-category {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0px 0px 20px;
}

.header__nav {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.header__burger {
  height: 35px;
  display: none;
}
.header__logo {
  margin-right: 100px;
}
.header__logo-img {
  height: 35px;
}
.header__catalog-wrap {
  position: relative;
}
.header__catalog {
  margin-right: 30px;
  background-color: #fff;
  cursor: pointer;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.header__catalog:hover {
  color: var(--brand-color);
}


.dropdown {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  background-color: white;
  position: absolute;
  right: 100px;
  top: 49px;
  transition: all 0.3s ease;
  

  box-shadow: inset 0px 0px 20px 1px white;
}
.dropdown.active{
  
  right: -97px;
  opacity: 1;
  visibility: visible;
}
.dropdown-link {
  color: var(--black-color);
  font-size: 18px;
  padding: 15px 30px;
}
.dropdown-link:hover {
  color: var(--brand-color);
}
.header__catalog-triangle {
  width: 12px;
  margin-top: 8px;
}

.header__contacts {
  margin-right: 30px;
}
.header__contacts:hover {
  color: var(--brand-color);
}
.header__about {
  flex: 1 auto;
}
.header__about:hover {
  color: var(--brand-color);
}
.header__tel {
  margin-right: 100px;
}
.header__cart {
}
.header__cart-img {
  height: 35px;
}


.block-icons {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
}
.icon {
  display: flex;
  align-items: center;
  flex-basis: calc(50% - 20px);
  margin: 0px 20px 0px 0px;
}
.icon:nth-child(1) {
  margin-bottom: 20px;
}
.icon:nth-child(2) {
  margin-bottom: 20px;
}
.icon__img {
  width: 35px;
  margin-right: 14px;
}
.icon__text {
  font-size: 18px;
}
.category {
  display: flex;
  flex-wrap: wrap;
}
.category__item {
  display: block;
  font-size: 20px;
  position: relative;
  margin: 0px 20px 20px 0px;
  flex-basis: calc(33.333% - 20px);
}

.category__img {
  width: 100%;
  /* margin: 15px 0px 0px 0px; */
}

.category__name {
  color: white;
  background-color: rgba(26, 26, 26, 0.61);
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7px;
  white-space: pre-wrap;
  width: 100%;
  text-align: center;
}

/* КАТАЛОГ */

.catalog__products {
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  box-shadow: 0px 0px 4px 0px #e5e5e5;
  display: flex;
  flex-direction: column;
  flex-basis: 33.333%;
  padding: 20px;
  font-size: 18px;
}
.catalog__title {
}
.catalog__img-wrap {
}
.catalog__img {
  max-width: 100%;
  margin-bottom: 20px;
}


.catalog__name {
  margin-bottom: 15px;
  font-weight: 600;
  height: 50px;
  /* max-width: 300px; */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  
}
.catalog__remains-wrap {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
}
.catalog__remains {
  margin-right: auto;
  color: green;
}
.catalog__article {
  color: rgb(124, 124, 124);
  
}
.catalog__amount-wrap {
  display: flex;
  margin-bottom: 30px;
}
.catalog__amount {
  padding: 5px 0px;
  background-color: #f7f7f7;
  font-size: 18px;
  flex-basis: 33.333%;
}

.catalog__amount--active {
  background-color: var(--brand-color);
}
.catalog__price-wrap {
  display: flex;
  align-items: center;
}
.catalog__price {
  margin-right: auto;
  align-items: center;
  font-weight: 600;
}
.catalog__buy {
  font-size: 18px;
  padding: 10px 35px;
  background-color: #fdc316;
}

.form {
  /* margin-top: 0.8em; */
}
.input {
  background-color: #ebebeb;
  width: 200px;
  padding: 15px;
  margin-right: 20px;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 5px;
}
.form-button {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--black-color);
}

.form__name {
}
.main-form__name-label {
}


.footer {
  padding: 30px 0px;
  width: 100%;
  height: 250px;
  background-color: #a0a0a0;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
}
.footer__link {
  margin-top: 20px;
  text-align: center;
}
.footer__link:hover {
  color: #01010198;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.product__img {
  /* border: 1px solid black; */
  max-width: 100%;
}
.product__desc {
  display: grid;
  grid-template-rows: repeat(10,auto);
  grid-template-columns: auto;
  /* align-content: center; */
  /* align-items: center; */
  /* border: 2px solid red; */

}
.product__desc-title {
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
  /* grid-column-start: 1;
  grid-column-end: 3; */
}
.product__desc-item-wrap {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr ;
  /* border: 5px solid green; */
  /* border-top: 1px solid grey; */
  border-bottom: 1px solid grey;
  align-items: center;
}
.product__desc-item {
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  /* grid-auto-rows: minmax(0px, auto); */
}

.product__desc-item-info {
  font-size: 16px;
  padding: 10px;
  /* border: 1px solid red; */
}

.product__about {
  font-size: 16px;
  margin-top: 20px;
  padding-right: 20px;
}
.product__about-title {
  font-size: 20px;
  font-weight: 700;
}
.product__about-text {
  font-size: 16px;
}


.product__buy-wrap {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
.product__price {
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
  /* grid-column-start: 1;
  grid-column-end: 2; */
}
.product__amount {
  font-size: 14px;
  color: green;
  padding: 10px;
}
.product__minus {
  width: 35px;
  height: 35px;
  margin-right: 10px;

}
.product__quantity {
  font-size: 20px;
  margin-right: 10px;
}

.product__plus {
  width: 35px;
  height: 35px;
  margin-right: auto;
}
.product__button-wrap {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px;
  /* grid-row-start: 1;
  grid-row-end: 2; */
  /* grid-template-rows: auto;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-items: start; */
  align-items: center;
}
.product__buy {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
  background-color: var(--brand-color);
}




@media (max-width: 1000px) {
  .category__name {
    font-size: 14px;
  }
  .catalog__item {
    flex-basis: 50%;


  }

  .header__catalog-wrap,
  .header__contacts,
  .header__about,
  .header__tel {
  display: none;
  }
  .header__nav {
    justify-content: space-between;
  }
  .header__burger {
    display: block;
    height: 30px;
  }
  .header__logo-img {
    height: 35px;
  }
  .header__cart-img {
    height: 35px;
  }
  .header__logo {
    margin: 0px;
  }
  .burger__body.show {
    right: 0px;
    visibility: visible;
  }
  .block-icons {
    flex-direction: column;
    align-items: center;
  }

  .icon {
    flex-direction: column;
    margin: 0px 0px 20px 0px;
  }
  .icon__img {
    margin: 0px 0px 10px;
  }


  .icon__text {
    margin: 0px;
    text-align: center;
  }

  .category {
    /* flex-direction: column; */
  }

  .category__item {
    display: block;
    position: relative;
    width: 300px;
    /* flex-basis: 30%; */
  }
  

}
@media (max-width: 767px) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .input {
    width: 100%;
    margin-top: 20px;
    
  }
  .input::-webkit-input-placeholder {
    text-align:center;
    }
    
    :-moz-placeholder { /* Firefox 18- */
       text-align:center;  
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
       text-align:center;  
    }
    
    :-ms-input-placeholder {  
       text-align:center; 
    }
    .form-button {
      margin-top: 20px;
    }
  .section-lvl1 {
    font-size: 25px;
  }
  .icon__text {
    font-size: 16px;
  }
  .icon__img {
    margin: 0px 0px 5px 0px;
  }

  .product {
    grid-template-columns: 1fr;
  }
  .product__desc-item {
    font-size: 14px;
  }
  .product__desc-item-info {
    font-size: 14px;
  }
}
@media (max-width: 700px) {

  .catalog__item {
    flex-basis: 100%;
  }
  .container-category {
    padding: 0px 0px 0px 10px;
  }

  .category__item {
    margin: 0px 10px 10px 0px;
    flex-basis: calc(50% - 10px);
  }
  .category__name {

  }
}
@media (max-width: 500px) {
  .burger__body {
    top: 70px;
  }
  .header-dublicate {
    height: 71px;
  }
  .header__burger {
    height: 25px;
  }
  .header__logo-img {
    height: 30px;
  }
  .header__cart-img {
    height: 25px;
  }
}
/* @media (max-width: 400px) {
  .category__item {
    flex-basis: calc(100% - 20px);
  }
} */